@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,800;1,400;1,500;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap');

$pink-color: #e82a75;
$orange-color: #f59154;
$gray-text-primary: #707070;
$gray-text: #b3b3b3;
$red-text: #b10606;
$red-text-normal: #ff5555;
$white-color: #ffffff;

.kyc-explanation {
  position: relative;
	font-family: 'Noto Sans JP', sans-serif;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/common/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20rem;


  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      font-size: 16px;
      line-height: 1.8;
      color: $gray-text-primary;
    }
  }
  label {
    margin: 0;
  }

  .text-red-normal {
    color: $red-text-normal;
    font-size: 16px;
  }

  .kyc-link {
    color: #0b4dff;
    text-decoration: underline;
  }
  .kyc-icon-ban {
    font-family: "FontAwesome";
    font-size: 6rem;
    font-weight: bold;
    color: $red-text;
  }
  .border-accordion {
    border: 1px solid $gray-text-primary;
  }

  .gray-text-primary {
    color: $gray-text-primary;
    font-size: 16px;
  }

  .img-thumbnail {
    border: none !important;
  }

  &__img-hourglass {
    background: transparent;
    position: absolute;
    top: 2%;
    right: 19%;
  }
  &__img-gift {
    background: transparent;
    position: absolute;
    top: 2%;
    left: 15%;
  }
  &__img-icon-1 {
    background: transparent;
    position: absolute;
    top: 12%;
    right: 1%;
  }
  &__img-icon-2 {
    background: transparent;
    position: absolute;
    top: 30%;
    right: 1%;
  }
  &__img-idcard {
    position: absolute;
    top: 218px;
    right: -8.5%;
  }
  &__header {
    font-family: "Raleway", sans-serif;
    text-align: center;
    color: $white-color;
    padding: 14rem 0 7rem 0;
    &-title {
      font-style: italic;
      font-size: 65px;
      font-weight: bold;
    }
    &-title-second {
      font-size: 32px;
      font-weight: 400;
    }
  }

  &-container {
    background-color: $white-color;
    width: 1468px;
    margin: auto;
    padding: 90px;
    border-radius: 2rem;
  }
  &__rule {
    width: 978px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    background-color: $pink-color;
    &-3 {
      margin-top: 10rem;
    }
  }

  &__text-heading {
    color: $white-color;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
  }
  &__content {
    margin: 4rem;
    color: $gray-text-primary;
    &-text {
      font-size: 16px;
      line-height: 1.25;
      color: $gray-text-primary;
    }
  }

  &__card {
    border: 2px solid $orange-color;
    margin-bottom: 10rem;
    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      background-color: $orange-color;
    }
    &-body {
      padding: 40px 130px 28px 130px;
      ul {
        color: $gray-text-primary;
      }
    }
  }
  &__box {
    padding: 2rem 4rem;
    &-header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
    }
    &-title {
      font-size: 32px;
      color: #6a6a6a;
    }
  }

  &__accordion {
    &-header,
    &-header-2 {
      color: $gray-text-primary;
      padding: 0 4rem;
      h4 {
        font-family: "FontAwesome";
        font-size: 24px;
      }
    }
    &-header-2 {
      padding-top: 2rem;
    }
    &-box {
      padding: 1rem 7rem;
    }

    .toggle {
      display: none;
    }
    .Label {
      display: block;
      background: #ffffff;
      color: $gray-text-primary;
      font-size: 24px;
      cursor: pointer;
    }
    .Label::before {
      content: "▼";
      position: absolute;
      right: 10px;
      font-size: 24px;
      transition: all 0.3s;
    }
    .Label,
    .content {
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transform: translateY(0);
      transition: all 0.3s;
    }
    .content {
      height: 0;
      padding: 0 20px;
      overflow: hidden;
      border-bottom: none;
      box-sizing: border-box;
      .content-head > li {
        color: $red-text;
      }
      .content-end > li {
        color: $red-text;
      }
    }
    .toggle:checked + .Label + .content {
      height: auto;
      padding: 4rem 0;
      transition: all 0.3s;
    }
    .toggle:checked + .Label::before {
      transform: rotate(180deg) !important;
      transition: all 0.3s;
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1919.98px) {
  .kyc-explanation {
    &__img-idcard {
      top: 11rem;
      right: -10%;
    }
    &__img-hourglass {
      width: 15%;
      top: 1.5%;
      right: 15%;
    }
    &__img-gift {
      width: 15%;
      top: 1.5%;
      left: 15%;
    }
    &__img-icon-1 {
      width: 8%;
      top: 12%;
      right: -1%;
    }
    &__img-icon-2 {
      width: 8%;
      top: 30%;
      right: -1%;
    }
    &__header {
      padding: 10rem 0 7rem 0;
    }
    &__content {
      margin: 4rem 3rem;
    }
    &-container {
      max-width: 1140px;
    }
    &__rule {
      width: 65rem;
    }
    &__card {
      &-header {
        background-color: $orange-color;
      }
      &-body {
        padding: 40px 100px 28px 100px
      }
    }
    &__box {
      padding: 1rem 2rem;
      &-title {
        font-size: 31px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .kyc-explanation {
    .kyc-icon-ban {
      font-size: 4rem;
      font-weight: bold;
      color: $red-text;
    }
    &__img-hourglass {
      width: 15%;
      top: 2%;
      right: 10%;
    }
    &__img-gift {
      width: 15%;
      top: 2%;
      left: 10%;
    }
    &__img-icon-1 {
      width: 8%;
      top: 10%;
      right: -3%;
    }
    &__img-icon-2 {
      width: 8%;
      top: 28%;
      right: -3%;
    }
    &__img-idcard {
      top: 10rem;
      right: -16%;
    }
    &__header {
      padding: 10rem 0 7rem 0;
    }
    &__content {
      margin: 4rem 2.5rem;
    }

    &-container {
      max-width: 90%;
    }
    &__rule {
      width: 48rem;
    }
    &__card {
      margin-bottom: 8rem;
      &-header {
        background-color: $orange-color;
      }
      &-body {
        padding: 40px 85px 28px 85px;
      }
    }
    &__box {
      padding: 1rem;
      &-title {
        font-size: 28px;
      }
    }
    &__accordion {
      &-header,
      &-header-2 {
        color: $gray-text-primary;
        padding: 0 3rem;
      }
      &-box {
        padding: 1rem 5rem;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .kyc-explanation {
    ul {
      li {
        font-size: 15px;
      }
    }
    .kyc-icon-ban {
      font-size: 3.5rem;
      font-weight: bold;
      color: $red-text;
    }
    &__img-icon-1 {
      width: 9%;
      top: 10%;
      right: -2%;
    }
    &__img-icon-2 {
      width: 9%;
      top: 26%;
      right: -2%;
    }
    &__img-hourglass {
      width: 15%;
      top: 1.5%;
      right: 12%;
    }
    &__img-gift {
      width: 15%;
      top: 1.5%;
      left: 12%;
    }
    &__img-idcard {
      display: none;
    }
    .text-red-normal {
      color: $red-text-normal;
      font-size: 15px;
    }
    &__header {
      padding: 5rem 0 4rem 0;
      &-title {
        font-style: italic;
      }
      &-title-second {
        font-weight: 400;
      }
    }
    &-container {
      max-width: 90%;
      padding: 50px;
    }
    &__rule {
      width: 85%;
      height: 50px;
      margin: 1rem auto;
      &-3 {
        margin-top: 8rem;
      }
    }

    &__text-heading {
      font-size: 27px;
    }
    &__content {
      margin: 4rem 2rem;
      &-text {
        font-size: 15px;
        line-height: 1.25;
      }
    }
    &__card {
      margin-bottom: 6.5rem;
      &-header {
        height: 60px;
      }
      &-body {
        padding: 40px 90px 20px 90px;
      }
    }
    &__box {
      padding: 1rem;
      &-header {
        justify-content: flex-start;
      }
      &-title {
        font-size: 18px;
      }
    }
    &__accordion {
      &-header,
      &-header-2 {
        color: $gray-text-primary;
        padding: 0 2rem;
        h4 {
          font-size: 22.5px;
        }
      }
      &-header-2 {
        padding-top: 2rem;
      }
      &-box {
        padding: 1rem 4rem;
      }
      .Label::before {
        content: "▼";
        font-size: 22.5px;
      }
      .Label {
        font-size: 22.5px;
      }
      .toggle:checked + .Label + .content {
        padding: 2rem 0;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .kyc-explanation {
    ul {
      li {
        font-size: 14.5px;
      }
    }
    .kyc-icon-ban {
      font-size: 4rem;
      font-weight: bold;
      color: $red-text;
    }
    &__img-icon-1 {
      width: 11%;
      top: 10%;
      right: -2%;
    }
    &__img-icon-2 {
      width: 11%;
      top: 26%;
      right: -2%;
    }
    &__img-hourglass {
      width: 15%;
      top: 0.65%;
      right: 10%;
    }
    &__img-gift {
      width: 15%;
      top: 0.65%;
      left: 10%;
    }
    &__img-idcard {
      display: none;
    }
    .text-red-normal {
      color: $red-text-normal;
      font-size: 14.5px;
    }
    &__header {
      padding: 4rem 0 2rem 0;
      &-title {
        font-style: italic;
        font-size: 45px;
      }
      &-title-second {
        font-size: 2rem;
        font-weight: 400;
      }
    }
    &-container {
      max-width: 85%;
      padding: 35px;
    }
    &__rule {
      width: 80%;
      height: 45px;
      margin: 1.5rem auto;
      &-3 {
        margin-top: 8rem;
      }
    }

    &__text-heading {
      font-size: 22.5px;
    }
    &__content {
      margin: 3rem 2rem;
      &-text {
        font-size: 14.5px;
        line-height: 1.25;
      }
    }
    &__card {
      margin-bottom: 5rem;
      &-header {
        height: 50px;
      }
      &-body {
        padding: 30px 50px 15px 50px;
      }
    }
    &__box {
      padding: 1rem;
      margin-bottom: 2rem;
      &-header {
        justify-content: center;
      }
      &-title {
        font-size: 22.5px;
      }
    }
    &__accordion {
      &-header,
      &-header-2 {
        color: $gray-text-primary;
        padding: 0 2rem;
        h4 {
          font-size: 20px;
        }
      }
      &-header-2 {
        padding-top: 2rem;
      }
      &-box {
        padding: 0.5rem 4rem;
      }
      .Label::before {
        content: "▼";
        font-size: 20px;
      }
      .Label {
        font-size: 20px;
      }
      .toggle:checked + .Label + .content {
        padding: 2rem 0;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .kyc-explanation {
    ul {
      li {
        font-size: 14.5px;
      }
    }
    .kyc-icon-ban {
      font-size: 3.5rem;
      font-weight: bold;
      color: $red-text;
    }
    &__img-icon-1 {
      width: 11%;
      top: 10%;
      right: -2%;
    }
    &__img-icon-2 {
      width: 11%;
      top: 26%;
      right: -2%;
    }
    &__img-hourglass {
      width: 17%;
      top: 0.65%;
      right: 10%;
    }
    &__img-gift {
      width: 17%;
      top: 0.65%;
      left: 10%;
    }
    &__img-idcard {
      display: none;
    }
    .text-red-normal {
      color: $red-text-normal;
      font-size: 14.5px;
    }
    &__header {
      padding: 3rem 0;
      &-title {
        font-style: italic;
        font-size: 5rem;
      }
      &-title-second {
        font-size: 2rem;
        font-weight: 400;
      }
    }
    &-container {
      max-width: 85%;
      padding: 35px;
    }
    &__rule {
      width: 82%;
      height: 45px;
      margin: 1.5rem auto;
      &-3 {
        margin-top: 5rem;
      }
    }

    &__text-heading {
      font-size: 21px;
    }
    &__content {
      margin: 3rem 2rem;
      &-text {
        font-size: 14.5px;
        line-height: 1.25;
      }
    }
    &__card {
      margin-bottom: 6.5rem;
      &-header {
        height: 50px;
      }
      &-body {
        padding: 30px 45px 15px 45px;
      }
    }
    &__box {
      padding: 1rem;
      margin-bottom: 2rem;
      &-header {
        justify-content: center;
      }
      &-title {
        font-size: 21px;
      }
    }
    &__accordion {
      &-header,
      &-header-2 {
        color: $gray-text-primary;
        padding: 0 2rem;
        h4 {
          font-size: 18px;
        }
      }
      &-header-2 {
        padding-top: 2rem;
      }
      &-box {
        padding: 0.25rem 3rem;
      }
      .Label::before {
        content: "▼";
        font-size: 18px;
      }
      .Label {
        font-size: 18px;
      }
      .toggle:checked + .Label + .content {
        padding: 2rem 0;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .kyc-explanation {
    ul {
      li {
        font-size: 13.5px;
      }
    }
    .kyc-icon-ban {
      font-size: 3rem;
      font-weight: bold;
      color: $red-text;
    }
    .text-red-normal {
      color: $red-text-normal;
      font-size: 13.5px;
    }
    &__img-icon-1 {
      width: 10%;
      top: 10%;
      right: -5%;
    }
    &__img-icon-2 {
      width: 10%;
      top: 26%;
      right: -5%;
    }
    &__header {
      padding: 3rem 0;
      &-title {
        font-style: italic;
        font-size: 3rem;
      }
      &-title-second {
        font-size: 1.35rem;
      }
    }
    &-container {
      max-width: 95%;
      padding: 25px;
    }
    &__rule {
      width: 81%;
      height: 38px;
      margin: 1.5rem auto;
      &-3 {
        margin-top: 8rem;
      }
    }

    &__text-heading {
      font-size: 18px;
    }
    &__content {
      margin: 2rem;
      &-text {
        font-size: 13.5px;
        line-height: 1.25;
      }
    }
    &__card {
      margin-bottom: 4.5rem;
      &-header {
        height: 40px;
      }
      &-body {
        padding: 20px 25px 15px 25px;
      }
    }
    &__box {
      padding: 1rem;
      margin-bottom: 1rem;
      &-header {
        justify-content: center;
      }
      &-title {
        font-size: 18px;
      }
    }
    &__accordion {
      &-header,
      &-header-2 {
        color: $gray-text-primary;
        padding: 0 2rem;
        h4 {
          font-size: 17px;
        }
      }
      &-header-2 {
        padding-top: 2rem;
      }
      &-box {
        padding: 0.25rem 3rem;
      }
      .Label::before {
        content: "▼";
        font-size: 17px;
      }
      .Label {
        font-size: 17px;
      }
      .toggle:checked + .Label + .content {
        padding: 2rem 0;
      }
    }
  }
}
