@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap");
.login {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: url(../images/common/bg_kyc.png) no-repeat center 140px, url(../images/common/bg1.png) repeat-y center top;
  background-size: 1474px auto, auto;
  padding-bottom: 20rem;
  font-size: 16px;
}
.login label {
  font-size: 18px;
  font-weight: bold;
  color: #707070;
}
.login .img-thumbnail {
  border: none !important;
}
.login .link {
  color: #0056b3;
  text-decoration: underline;
}
.login__header {
  text-align: center;
  color: #ffffff;
  padding: 180px 0 78px 0;
}
.login__header-title {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0;
}
.login__header-title-second {
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 0;
}
.login-container {
  max-width: 980px;
  width: 90%;
  margin: auto;
  padding: 60px 80px;
  background-color: #fff;
  border-radius: 1rem;
}
.login__form-group {
  margin-bottom: 40px;
}
.login__form-group:nth-child(2) {
  margin-bottom: 0;
}
.login__form .col-form-label {
  display: flex;
  align-items: center;
}
.login__form-control {
  font-size: 16px;
  height: 50px !important;
  border: 1px solid black;
}
.login__form-checkbox {
  margin-top: 3rem;
}
.login__form-check {
  display: flex;
  align-items: center;
  padding: 0.5rem 20rem;
}
.login__form-check-input {
  width: 2rem;
  height: 2rem;
}
.login__form-check-label {
  font-size: 16px !important;
  margin-left: 1.5rem !important;
}
.login__form-button {
  min-width: 206px;
  margin: 40px auto;
  padding: 0 2.5em;
  line-height: 50px;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  background-color: #ea701c;
  border: none;
}

@media screen and (min-width: 1260px) {
  .login {
    background-size: 1474px auto, 100% auto;
  }
}
@media screen and (max-width: 1024px) {
  .login {
    background-size: 140% auto, 1280px auto;
  }
  .login__header {
    padding: 18vw 0 7vw 0;
  }
  .login__header-title {
    font-size: 50px;
  }
  .login__header-title-second {
    font-size: 21px;
  }
  .login__form-control {
    height: calc(3.25rem + 2px) !important;
  }
  .login__form-check {
    padding: 1vw 15vw;
  }
}
@media screen and (max-width: 768px) {
  .login {
    background: url(../images/common/bg_kyc_s.png) no-repeat center 50px, url(../images/common/bg1.png) repeat-y center top;
    background-size: 100% auto;
  }
  .login label {
    font-size: 3.5vw !important;
  }
  .login__header {
    padding: 15vw 0 7vw 0;
  }
  .login__header-title {
    font-size: 11vw;
  }
  .login__header-title-second {
    font-size: 4vw;
  }
  .login-container {
    max-width: 90%;
    padding: 10% 5%;
  }
  .login__form-group {
    margin-bottom: 1.5rem;
  }
  .login__form-control {
    height: calc(2.25rem + 2px) !important;
  }
  .login__form-checkbox {
    margin-top: 7vw;
  }
  .login__form-check {
    padding: 1vw 2.5vw;
  }
  .login__form-check-input {
    width: 1.5rem;
    height: 1.5rem;
  }
  .login__form-check-label {
    font-size: 3.5vw !important;
    margin-left: 1.5vw !important;
  }
  .login__form-button {
    display: block;
    min-width: auto;
    width: 13em;
    margin: 9% auto;
    padding: 0;
    line-height: 2.4;
    font-size: 3.6vw;
  }
}
@media screen and (max-width: 480px) {
  .login__header {
    padding: 20vw 0 8vw 0;
  }
}
@media screen and (max-width: 320px) {
  .login__header {
    padding: 25vw 0 8vw 0;
  }
  .login label {
    font-size: 2.5vw !important;
  }
  .login__form-check {
    padding: 0vw 6vw;
  }
  .login__form-check-input {
    width: 1rem;
    height: 1rem;
  }
  .login__form-check-label {
    font-size: 2.5vw !important;
    margin-left: 0.5vw !important;
  }
}

/*# sourceMappingURL=style.css.map */
