@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap");
.my-page {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: url(../images/common/bg_kyc.png) no-repeat center 140px, url(../images/common/bg1.png) repeat-y center top;
  background-size: 1474px auto, 100% auto;
  padding-bottom: 20rem;
  font-size: 16px;
}
.my-page label {
  font-size: 18px;
  font-weight: bold;
  color: #707070;
}
.my-page .img-thumbnail {
  border: none !important;
}
.my-page .link {
  color: #0056b3;
  text-decoration: underline;
}
.my-page__header {
  text-align: center;
  color: #ffffff;
  padding: 180px 0 78px 0;
}
.my-page__header-title {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0;
}
.my-page__header-title-second {
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 0;
}
.my-page-information {
  max-width: 980px;
  width: 90%;
  margin: 0 auto 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}
.my-page-information .btn-information {
  width: 100%;
  background-color: #d0d0d0;
  color: #707070;
  padding: 0.5rem 0;
  font-size: 21px;
  border: none;
}
.my-page-information .btn-information.active {
  background-color: #edf700;
}
.my-page-container {
  max-width: 980px;
  width: 90%;
  margin: auto;
  padding: 60px 80px;
  background-color: #fff;
  border-radius: 1rem;
}
.my-page__form-group {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 40px;
}
.my-page__form .col-form-label {
  display: flex;
  align-items: center;
}
.my-page__form-control {
  font-size: 16px;
  height: 50px !important;
  border: 1px solid black;
}
.my-page__form-checkbox {
  margin-top: 3rem;
}
.my-page__form .btn-point-charge {
  width: 100%;
  background-color: #339f2a;
  color: #ffffff;
  padding: 0 2.5em;
  line-height: 50px;
  font-size: 21px;
  font-weight: bold;
  border: none;
}
.my-page__form .btn-renew {
  min-width: 206px;
  padding: 0 2.5em;
  line-height: 50px;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  background-color: #ea701c;
  border: none;
  margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
  .my-page {
    background-size: 140% auto, 1280px auto;
  }
  .my-page__header {
    padding: 18vw 0 7vw 0;
  }
  .my-page__header-title {
    font-size: 50px;
  }
  .my-page__header-title-second {
    font-size: 21px;
  }
  .my-page__form-group {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }
  .my-page__form-control {
    height: calc(3.25rem + 2px) !important;
  }
  .my-page__form-check {
    padding: 1vw 0vw 1vw 7vw;
  }
}
@media screen and (max-width: 768px) {
  .my-page {
    background: url(../images/common/bg_kyc_s.png) no-repeat center 50px, url(../images/common/bg1.png) repeat-y center top;
    background-size: 100% auto;
  }
  .my-page label {
    font-size: 3.5vw !important;
  }
  .my-page__header {
    padding: 15vw 0 7vw 0;
  }
  .my-page__header-title {
    font-size: 11vw;
  }
  .my-page__header-title-second {
    font-size: 4vw;
  }
  .my-page-information {
    margin: 0 auto 2vw auto;
  }
  .my-page-information .btn-information {
    padding: 1vw 0;
    font-size: 3.6vw;
  }
  .my-page-container {
    max-width: 90%;
    padding: 10% 5%;
  }
  .my-page__form-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 2vw;
  }
  .my-page__form-control {
    height: calc(3.25rem + 2px) !important;
  }
  .my-page__form .btn-point-charge {
    display: block;
    margin: 9% auto 0;
    padding: 0;
    line-height: 2.4;
    font-size: 3.6vw;
  }
  .my-page__form .btn-renew {
    padding: 0;
    font-size: 3.6vw;
    line-height: 2;
    margin: 5% 0;
  }
}
@media screen and (max-width: 480px) {
  .my-page__header {
    padding: 20vw 0 8vw 0;
  }
  .my-page__form-control {
    height: calc(2.25rem + 2px) !important;
  }
  .my-page__form .btn-renew {
    width: 100%;
    line-height: 2.4;
    margin: 4% 0;
  }
}
@media screen and (max-width: 320px) {
  .my-page__header {
    padding: 25vw 0 8vw 0;
  }
  .my-page__form-check {
    padding: 0vw 6vw;
  }
  .my-page__form-check-input {
    width: 1rem;
    height: 1rem;
  }
  .my-page__form-check-label {
    font-size: 2.5vw !important;
    margin-left: 0.5vw !important;
  }
}

/*# sourceMappingURL=style.css.map */
