@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap");
$pink-color: #e82a75;
$orange-color: #f59154;
$gray-text-primary: #707070;
$gray-text: #b3b3b3;
$red-text: #b10606;
$red-text-normal: #ff5555;
$white-color: #ffffff;
$yellow-color: #edf700;

.my-page {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: url(../images/common/bg_kyc.png) no-repeat center 140px,
    url(../images/common/bg1.png) repeat-y center top;
  background-size: 1474px auto, 100% auto;
  padding-bottom: 20rem;
  font-size: 16px;

  label {
    font-size: 18px;
    font-weight: bold;
    color: $gray-text-primary;
  }

  .img-thumbnail {
    border: none !important;
  }

  .link {
    color: #0056b3;
    text-decoration: underline;
  }
  &__header {
    text-align: center;
    color: $white-color;
    padding: 180px 0 78px 0;
    &-title {
      font-family: "Raleway", sans-serif;
      font-style: italic;
      font-size: 60px;
      font-weight: 600;
      margin-bottom: 0;
    }
    &-title-second {
      font-family: "Raleway", sans-serif;
      font-size: 23px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }
  &-information {
    max-width: 980px;
    width: 90%;
    margin: 0 auto 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    .btn-information {
      width: 100%;
      background-color: #d0d0d0;
      color: $gray-text-primary;
      padding: 0.5rem 0;
      font-size: 21px;
      border: none;
      &.active {
        background-color: $yellow-color;
      }
    }
  }
  &-container {
    max-width: 980px;
    width: 90%;
    margin: auto;
    padding: 60px 80px;
    background-color: #fff;
    border-radius: 1rem;
  }
  &__form {
    &-group {
      display: grid;
      grid-template-columns: 1fr 3fr;
      margin-bottom: 40px;
    }
    .col-form-label {
      display: flex;
      align-items: center;
    }
    &-control {
      font-size: 16px;
      height: 50px !important;
      border: 1px solid black;
    }
    &-checkbox {
      margin-top: 3rem;
    }
    .btn-point-charge {
      width: 100%;
      background-color: #339f2a;
      color: $white-color;
      padding: 0 2.5em;
      line-height: 50px;
      font-size: 21px;
      font-weight: bold;
      border: none;
    }
    .btn-renew {
      min-width: 206px;
      padding: 0 2.5em;
      line-height: 50px;
      font-size: 21px;
      font-weight: bold;
      color: #fff;
      background-color: #ea701c;
      border: none;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .my-page {
    background-size: 140% auto, 1280px auto;
    &__header {
      padding: 18vw 0 7vw 0;
      &-title {
        font-size: 50px;
      }
      &-title-second {
        font-size: 21px;
      }
    }
    &__form {
      &-group {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
      }
      &-control {
        height: calc(3.25rem + 2px) !important;
      }
      &-check {
        padding: 1vw 0vw 1vw 7vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .my-page {
    background: url(../images/common/bg_kyc_s.png) no-repeat center 50px,
      url(../images/common/bg1.png) repeat-y center top;
    background-size: 100% auto;
    label {
      font-size: 3.5vw !important;
    }
    &__header {
      padding: 15vw 0 7vw 0;
      &-title {
        font-size: 11vw;
      }
      &-title-second {
        font-size: 4vw;
      }
    }
    &-information {
      margin: 0 auto 2vw auto;
      .btn-information {
        padding: 1vw 0;
        font-size: 3.6vw;
      }
    }
    &-container {
      max-width: 90%;
      padding: 10% 5%;
    }
    &__form {
      &-group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 2vw;
      }
      &-control {
        height: calc(3.25rem + 2px) !important;
      }
      .btn-point-charge {
        display: block;
        margin: 9% auto 0;
        padding: 0;
        line-height: 2.4;
        font-size: 3.6vw;
      }
      .btn-renew {
        padding: 0;
        font-size: 3.6vw;
        line-height: 2;
        margin: 5% 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .my-page {
    &__header {
      padding: 20vw 0 8vw 0;
    }
    &__form {
      &-control {
        height: calc(2.25rem + 2px) !important;
      }
      .btn-renew {
        width: 100%;
        line-height: 2.4;
        margin: 4% 0;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .my-page {
    &__header {
      padding: 25vw 0 8vw 0;
    }

    &__form {
      &-check {
        padding: 0vw 6vw;
        &-input {
          width: 1rem;
          height: 1rem;
        }
        &-label {
          font-size: 2.5vw !important;
          margin-left: 0.5vw !important;
        }
      }
    }
  }
}
