@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap");
$pink-color: #e82a75;
$orange-color: #f59700;
$gray-text-primary: #707070;
$gray-text: #b3b3b3;
$red-text: #b10606;
$red-text-normal: #ff5555;
$white-color: #ffffff;
$black-color: #292929;
$yellow-color: #edf700;

.result {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: url(../images/common/bg_kyc.png) no-repeat center 140px,
    url(../images/common/bg1.png) repeat-y center top;
  background-size: 1474px auto, auto;
  padding-bottom: 20rem;
  font-size: 16px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      line-height: 1.8;

      color: $gray-text-primary;
    }
  }
  label {
    margin: 0;
  }

  .img-thumbnail {
    border: none !important;
  }
  &__header {
    text-align: center;
    color: $white-color;
    padding: 180px 0 78px 0;
    &-title {
      font-family: "Raleway", sans-serif;
      font-style: italic;
      font-size: 60px;
      font-weight: 600;
      margin-bottom: 0;
    }
    &-title-second {
      font-family: "Raleway", sans-serif;
      font-size: 23px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  &-container {
    max-width: 980px;
    width: 90%;
    margin: auto;
    padding: 60px;
    border-radius: 1rem;
  }
  &-slick {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  &-date {
    background-color: $black-color;
    color: $white-color;
    font-size: 18px;
    border-radius: 3rem;
    padding: 1rem 2rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background-color: $yellow-color;
      color: $black-color;
    }
  }
  .card {
    border-radius: 10px;
    &-header {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: $black-color;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }
    &-title {
      text-align: center;
    }
    &-prize {
      position: relative;
      background-color: $yellow-color;
      color: $black-color;
      text-align: center;
      border-radius: 10px;
      border: 3px solid $orange-color;
      margin: 10px 0;
      padding-top: 15px;
      &::after {
        content: "Prize";
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 24px;
        color: red;
        transform: translateY(-12px);
        font-weight: bold;
        z-index: 2;
      }
      // .prize-text {
      //   display: inline-block;
      //   padding: 10px;
      //   background-color: #fff;
      //   position: relative;
      //   z-index: 2;
      // }
    }
    .prize {
      &-list {
        font-size: 15px;
        padding: 0 2rem;
      }
      &-item {
        display: grid;
        grid-template-columns: 1fr 4fr;
      }
    }
  }
}
@media screen and (min-width: 1260px) {
  .result {
    background-size: 1474px auto, 100% auto;
  }
}

@media screen and (max-width: 1024px) {
  .result {
    background-size: 140% auto, 1280px auto;
    &__header {
      padding: 18vw 0 7vw 0;
      &-title {
        font-size: 50px;
      }
      &-title-second {
        font-size: 21px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .result {
    background: url(../images/common/bg_kyc_s.png) no-repeat center 50px,
      url(../images/common/bg1.png) repeat-y center top;
    background-size: 100% auto;

    ul {
      li {
        font-size: 3.5vw;
        line-height: 1.5;
      }
    }
    &__header {
      padding: 15vw 0 7vw 0;
      &-title {
        font-size: 11vw;
      }
      &-title-second {
        font-size: 4vw;
      }
    }
    &-container {
      max-width: 90%;
      padding: 10% 5%;
    }
    &-service {
      padding-bottom: 3vw;
      &__subject {
        font-weight: bold;
        font-size: 4vw;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .result {
    &__header {
      padding: 20vw 0 8vw 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .result {
    &__header {
      padding: 25vw 0 8vw 0;
    }
  }
}
