@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap");
.tournament {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
}
.tournament-background--1 {
  background: url(../images/tournament/bg-noicon-tour.jpg) no-repeat;
  padding-bottom: 80px;
}
.tournament-background--2 {
  background-color: #13c4cd;
  padding-bottom: 30px;
}
.tournament ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.tournament ul li {
  line-height: 1.8;
  color: #707070;
}
.tournament label {
  margin: 0;
}
.tournament span {
  color: inherit;
}
.tournament .slick-prev:focus,
.tournament .slick-next:focus {
  outline: none;
}
.tournament figcaption {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  margin: 0;
}
.tournament hr {
  border: 1px solid #f45680;
}
.tournament a:hover,
.tournament a:active {
  text-decoration: none;
}
.tournament .img-thumbnail {
  border: none !important;
  background: transparent;
  padding: 0;
}
.tournament .header {
  position: relative;
  text-align: center;
  color: #ffffff;
  padding: 80px 0 30px 0;
  user-select: none;
}
.tournament .header-top {
  padding: 180px 0 30px 0;
}
.tournament .header-text {
  position: relative;
  user-select: none;
}
.tournament .header-tit {
  max-width: 490px;
  width: 70%;
  margin: auto;
}
.tournament .header-img {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  background: transparent;
}
.tournament .header-title {
  position: relative;
  z-index: 2;
  font-family: "Bebas Neue", cursive;
  font-style: italic;
  font-size: 60px;
  margin-bottom: 0;
  letter-spacing: 2px;
}
.tournament .header-title-second {
  position: relative;
  z-index: 2;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.tournament .header-coming-logo {
  position: absolute;
  top: 25%;
  right: 15%;
  transform: translate(-50%, -50%);
}
.tournament .header-result-logo {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.tournament .main-container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}
.tournament .layout-container {
  max-width: 1000px;
  width: 90%;
  margin: auto;
}
.tournament-btn {
  display: flex;
  justify-content: center;
  margin: 60px auto 50px;
}
.tournament .btn {
  cursor: pointer;
  border-radius: 32px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #13c4cd;
  border: 1px solid #13c4cd;
  outline: none;
  box-shadow: none;
}
.tournament .btn-see-more {
  display: block;
  width: 292px;
  background-color: #f45680;
  line-height: 50px;
}
.tournament .btn-close {
  display: block;
  width: 80%;
  line-height: 30px;
  padding-bottom: 2%;
  margin: 10px 0;
}
.tournament .btn-play {
  width: 60%;
  margin: 0.5rem 0;
  line-height: 30px;
  padding-bottom: 2%;
}
.tournament .btn-more-rank {
  width: 90%;
  margin-top: 10px;
  line-height: 30px;
  padding-bottom: 4%;
}
.tournament .on-going {
  padding-bottom: 10rem;
}
.tournament .on-going__card {
  position: relative;
  border: 9px solid #f45680;
  border-radius: 20px;
  margin-top: 35px;
}
.tournament .on-going__card .ranking-img {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
}
.tournament .on-going__card .rank-content {
  padding: 0 15px 10px 15px;
}
.tournament .on-going__card .rank-content .rank-cup-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 285px;
}
.tournament .on-going__card .rank-content .rank-cup-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.tournament .on-going__card .rank-content .rank-cup-item--1st {
  justify-content: start;
}
.tournament .on-going__card .rank-content .rank-cup-item--1st .numerical {
  font-size: 26px;
  color: #bf9214;
}
.tournament .on-going__card .rank-content .rank-cup-item--1st .point {
  font-size: 22px !important;
}
.tournament .on-going__card .rank-content .rank-cup-item--2nd .numerical {
  font-size: 20px;
  color: #787878;
}
.tournament .on-going__card .rank-content .rank-cup-item--3rd .numerical {
  font-size: 18px;
  color: #9d684a;
}
.tournament .on-going__card .rank-content .rank-cup-item .name,
.tournament .on-going__card .rank-content .rank-cup-item .numerical {
  overflow: hidden;
  font-weight: bold;
  line-height: 1.25;
}
.tournament .on-going__card .rank-content .rank-cup-item .name {
  margin: 4px 0;
}
.tournament .on-going__card .rank-content .rank-cup-item .point {
  overflow: hidden;
  color: #f45680;
  line-height: 1.25;
  font-size: 18px;
}
.tournament .on-going__card .rank-content .border-accordion {
  border: 2px solid #f45680;
}
.tournament .on-going__card .rank-content .rank-tour-item {
  display: grid;
  grid-template-columns: 10% 55% 35%;
  align-items: center;
  background-color: #f45680;
  color: #ffffff;
  width: 100%;
  min-height: 30px;
  border-radius: 5px;
  padding: 2px 0;
  margin-bottom: 5px;
}
.tournament .on-going__card .rank-content .rank-tour-item .numerical {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.tournament .on-going__card .rank-content .rank-tour-item .name {
  background-color: #ffffff;
  color: #292929;
  padding: 2px 1rem;
}
.tournament .on-going__card .rank-content .rank-tour-item .point {
  text-align: center;
}
.tournament .on-going__card .rank-content .rank-game-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  margin-bottom: 10px;
}
.tournament .on-going__card .rank-content .rank-game-img {
  display: flex;
  flex-direction: column-reverse;
  border: none;
}
.tournament .on-going__card .rank-content .rank-game-img .title {
  background-color: #f45680;
  color: #ffffff;
  text-align: center;
  min-height: 35px;
  padding-top: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.tournament .on-going__card .rank-content .rank-game-item {
  text-align: center;
}
.tournament .on-going__card .rank-content .rank-game-item .game-year {
  margin-bottom: 5px;
  font-size: 17px;
}
.tournament .on-going__card .rank-content .rank-game-item .st-rank {
  position: relative;
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
}
.tournament .on-going__card .rank-content .rank-game-item .st-rank img {
  width: 90%;
}
.tournament .on-going__card .rank-content .rank-game-item .st-rank .v-point {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  text-align: start;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}
.tournament .on-going__card .rank-content .rank-game-item .st-rank .v-point .thumbnail-point {
  display: inline-block;
  width: 20%;
}
.tournament .on-going__card-img {
  padding: 1rem;
}
.tournament .on-going__card-title {
  text-align: center;
  font-weight: bold;
  font-size: 21px;
}
.tournament .on-going__card .rank-prize {
  display: none;
}
.tournament .on-going__card .rank-prize-list {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60%;
  border: 7px solid #f45680;
  border-radius: 15px;
  background-color: #fff;
  padding: 0 5px;
}
.tournament .on-going__card .rank-prize-item {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid brown;
}
.tournament .on-going__card .rank-prize-item:nth-child(10) {
  border: none;
}
.tournament .on-going__card .rank-prize-item .number {
  text-align: center;
}
.tournament .on-going__card .rank-prize-item .number .thumbnail-numerical {
  display: inline-block;
  width: 60%;
  overflow: hidden;
}
.tournament .on-going__card .rank-prize-item .number-text {
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
  letter-spacing: 1px;
  color: #f45680;
  font-weight: bold;
}
.tournament .on-going__card .rank-prize-item .money .thumbnail-money {
  display: inline-block;
  width: 20%;
  overflow: hidden;
}
.tournament .on-going__card .rank-prize-item .money-text {
  font-size: 24px;
  color: #f45680;
  font-weight: bold;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 1px;
}
.tournament .up-coming .card {
  border: none;
  border-radius: 15px;
}
.tournament .up-coming .card-img {
  padding: 1rem;
}
.tournament .up-coming .card-title {
  text-align: center;
}
.tournament .result-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.tournament .result-item {
  border-radius: 15px;
}
.tournament .result-item .rank-content {
  padding: 20px 15px;
}
.tournament .result-item .rank-content .rank-img {
  padding: 0 10px 10px 10px;
}
.tournament .result-item .rank-content .rank-date {
  position: relative;
  text-align: center;
}
.tournament .result-item .rank-content .rank-date .time {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-size: 18px;
}
.tournament .result-item .rank-content .rank-cup-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: -15px;
  min-height: 260px;
  text-align: center;
}
.tournament .result-item .rank-content .rank-cup-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tournament .result-item .rank-content .rank-cup-item .point img {
  width: 21%;
}
.tournament .result-item .rank-content .rank-cup-item--2nd .cup-img, .tournament .result-item .rank-content .rank-cup-item--3rd .cup-img {
  width: 75%;
}
.tournament .result-item .rank-content .rank-cup-item .name,
.tournament .result-item .rank-content .rank-cup-item .numerical {
  font-size: 14px;
  margin: 4px 0;
  overflow: hidden;
  font-weight: bold;
}
.tournament .result-item .rank-content .rank-cup-item .point {
  font-size: 14px;
  overflow: hidden;
  color: #f45680;
}
.tournament .result-item .rank-content .tag-border {
  margin: -15px 0 10px 0;
}
.tournament .result-item .rank-content .rank-tour-item {
  display: grid;
  grid-template-columns: 10% 40% 25% 25%;
  align-items: center;
  background-color: #f45680;
  color: #ffffff;
  width: 100%;
  min-height: 30px;
  border-radius: 5px;
  padding: 2px 0;
  margin-bottom: 5px;
}
.tournament .result-item .rank-content .rank-tour-item .numerical {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.tournament .result-item .rank-content .rank-tour-item .name {
  background-color: #ffffff;
  color: #292929;
  padding: 2px 0.5rem;
  font-size: 15px;
  margin-right: 3px;
}
.tournament .result-item .rank-content .rank-tour-item .point {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 15px;
}
.tournament .result-item .rank-content .rank-tour-item .point img {
  width: 21%;
}

@media screen and (max-width: 1200px) {
  .tournament .header-coming-logo {
    right: 0%;
  }
  .tournament .on-going__card .rank-content .rank-cup-list {
    min-height: 24vw;
  }
  .tournament .on-going__card .rank-content .rank-game-item .game-year {
    font-size: 16.5px;
  }
  .tournament .result-item .rank-content .rank-tour-item .name {
    font-size: 14px;
  }
  .tournament .result-item .rank-content .rank-tour-item .point {
    font-size: 14px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .tournament {
    font-size: 15px;
  }
  .tournament .header-top {
    padding: 18vw 0 7vw 0;
  }
  .tournament .header-coming-logo {
    right: 0;
    top: 5%;
  }
  .tournament .header-title {
    font-size: 50px;
  }
  .tournament .header-title-second {
    font-size: 21px;
  }
  .tournament .btn-more-rank {
    margin-top: 5px;
  }
  .tournament .on-going__card {
    margin-top: 5vw;
  }
  .tournament .on-going__card .rank-content .rank-cup-list {
    min-height: 26.5vw;
  }
  .tournament .on-going__card .rank-content .rank-game-img {
    justify-content: center;
  }
  .tournament .on-going__card .rank-content .rank-game-list {
    grid-column-gap: 3px;
  }
  .tournament .on-going__card .rank-content .game-year {
    margin-bottom: 3px;
  }
  .tournament .result-item .rank-content .rank-cup-list {
    min-height: 22vw;
  }
  .tournament .result-item .rank-content .rank-date .time {
    font-size: 1.7vw;
  }
  .tournament .result-item .rank-content .rank-tour-item .numerical {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  .tournament .result-item .rank-content .rank-tour-item .name {
    background-color: #ffffff;
    color: #292929;
    font-size: 1.1vw;
  }
  .tournament .result-item .rank-content .rank-tour-item .point {
    font-size: 1.2vw;
    text-align: center;
  }
  .tournament .result-item .rank-content .rank-tour-item .point img {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .tournament {
    font-size: 3.5vw;
  }
  .tournament-background--1 {
    background: url(../images/tournament/bg_tournament_sm.jpg) no-repeat;
    background-size: cover;
  }
  .tournament figcaption {
    font-size: 3.5vw;
    line-height: 1.25;
  }
  .tournament hr {
    border: 1px solid #f45680;
    margin: 2vw 0;
  }
  .tournament .slick-prev {
    background: url(../images/common/btn-icon-prev.png) no-repeat;
    background-size: 100% auto;
    min-height: 95px;
  }
  .tournament .slick-next {
    background: url(../images/common/btn-icon-next.png) no-repeat;
    background-size: 100% auto;
    min-height: 95px;
  }
  .tournament .header-top {
    padding: 15vw 0 7vw 0;
  }
  .tournament .header-tit {
    max-width: 100%;
    width: 100%;
  }
  .tournament .header-coming-logo {
    top: 30%;
    right: -15%;
    z-index: 10;
  }
  .tournament .header-img {
    width: 85%;
  }
  .tournament .header-title {
    font-size: 12vw;
  }
  .tournament .header-title-second {
    font-size: 7vw;
  }
  .tournament .header-result-logo {
    top: 0%;
    left: 15%;
    width: 20%;
  }
  .tournament .main-container {
    width: 90%;
  }
  .tournament .layout-container {
    width: 90%;
  }
  .tournament-btn {
    margin: 6% auto 0;
  }
  .tournament .btn {
    font-size: 3.5vw;
    line-height: calc(2em - 2px);
    border-radius: 1.5em;
  }
  .tournament .btn-play {
    width: 60%;
    margin: 0.5vw 0 1vw 0;
    padding-bottom: 2%;
  }
  .tournament .btn-more-rank {
    margin-top: 1vw;
    padding-bottom: 3%;
  }
  .tournament .btn-see-more {
    font-size: 4vw;
  }
  .tournament .on-going {
    padding-bottom: 9vw;
  }
  .tournament .on-going__card {
    border: 2vw solid #f45680;
    margin-top: 10vw;
  }
  .tournament .on-going__card .ranking-img {
    width: 78%;
  }
  .tournament .on-going__card .rank-content {
    padding: 0 1.5vw 1vw 1.5vw;
  }
  .tournament .on-going__card .rank-content .rank-cup-list {
    min-height: 54vw;
  }
  .tournament .on-going__card .rank-content .rank-cup-item--1st {
    justify-content: start;
  }
  .tournament .on-going__card .rank-content .rank-cup-item--1st .numerical {
    font-size: 6vw !important;
    color: #bf9214;
  }
  .tournament .on-going__card .rank-content .rank-cup-item--1st .point {
    font-size: 4vw !important;
  }
  .tournament .on-going__card .rank-content .rank-cup-item--2nd .numerical {
    font-size: 3.5vw;
    color: #787878;
  }
  .tournament .on-going__card .rank-content .rank-cup-item--3rd .numerical {
    font-size: 3.5vw;
    color: #9d684a;
  }
  .tournament .on-going__card .rank-content .rank-cup-item .name {
    line-height: 1.25;
    font-size: 3.3vw;
  }
  .tournament .on-going__card .rank-content .rank-cup-item .numerical {
    line-height: 1.25;
    font-size: 4vw;
  }
  .tournament .on-going__card .rank-content .rank-cup-item .point {
    font-size: 3.3vw;
    line-height: 1.25;
  }
  .tournament .on-going__card .rank-content .border-accordion {
    border: 2px solid #f45680;
    margin: 2vw 0;
  }
  .tournament .on-going__card .rank-content .rank-tour-item {
    min-height: 7vw;
    border-radius: 7px;
    padding: 0.5vw 0;
    margin-bottom: 1vw;
  }
  .tournament .on-going__card .rank-content .rank-tour-item .numerical {
    font-size: 3.5vw;
  }
  .tournament .on-going__card .rank-content .rank-tour-item .name {
    padding: 1.5vw 2vw;
  }
  .tournament .on-going__card .rank-content .rank-tour-item .point {
    text-align: center;
  }
  .tournament .on-going__card .rank-content .rank-game {
    margin-bottom: 1vw;
  }
  .tournament .on-going__card .rank-content .rank-game-img .title {
    min-height: 6vw;
    line-height: calc(1.5em - 2px);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .tournament .on-going__card .rank-content .rank-game-item .game-year {
    display: inline-block;
    font-size: 3.3vw;
  }
  .tournament .on-going__card .rank-content .rank-game-item .st-rank {
    margin-bottom: 0.25vw;
  }
  .tournament .on-going__card .rank-content .rank-game-item .st-rank img {
    width: 90%;
  }
  .tournament .on-going__card .rank-content .rank-game-item .st-rank .v-point {
    font-size: 3.5vw;
  }
  .tournament .on-going__card-img {
    padding: 1vw;
  }
  .tournament .on-going__card-title {
    font-size: 3.5vw;
  }
  .tournament .on-going__card .rank-prize-list {
    padding: 0 1vw;
  }
  .tournament .on-going__card .rank-prize-item {
    padding: 1vw 0;
  }
  .tournament .on-going__card .rank-prize-item .number .thumbnail-numerical {
    width: 55%;
  }
  .tournament .on-going__card .rank-prize-item .number-text {
    font-size: 4vw;
  }
  .tournament .on-going__card .rank-prize-item .money-text {
    font-size: 4vw;
  }
  .tournament .result-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2vw 0;
  }
  .tournament .result-item {
    border-radius: 20px;
  }
  .tournament .result-item .rank-content {
    padding: 4vw 1.5vw;
  }
  .tournament .result-item .rank-content img {
    width: 100%;
  }
  .tournament .result-item .rank-content .rank-img {
    padding: 0 3vw;
  }
  .tournament .result-item .rank-content .rank-date .time {
    font-size: 4vw;
  }
  .tournament .result-item .rank-content .rank-cup-list {
    margin-top: -5vw;
  }
  .tournament .result-item .rank-content .rank-cup-item .point img {
    width: 20%;
  }
  .tournament .result-item .rank-content .rank-cup-item .name,
  .tournament .result-item .rank-content .rank-cup-item .numerical {
    font-size: 3.4vw;
    overflow: hidden;
    font-weight: bold;
    line-height: 1.25;
  }
  .tournament .result-item .rank-content .rank-cup-item .point {
    font-size: 3.4vw;
    overflow: hidden;
    color: #f45680;
  }
  .tournament .result-item .rank-content .tag-border {
    margin: -5vw 0 2vw 0px;
  }
  .tournament .result-item .rank-content .rank-tour-item {
    min-height: 7vw;
    border-radius: 7px;
    padding: 0.5vw 0;
    margin-bottom: 1vw;
  }
  .tournament .result-item .rank-content .rank-tour-item .numerical {
    font-size: 3.5vw;
  }
  .tournament .result-item .rank-content .rank-tour-item .name {
    padding: 1.5vw 2vw;
    font-size: 3.5vw;
  }
  .tournament .result-item .rank-content .rank-tour-item .point {
    font-size: 3.5vw;
  }
  .tournament .result-item .rank-content .rank-tour-item .point img {
    width: 20%;
    margin-right: 1px;
  }
}
@media (max-width: 540px) {
  .tournament-background--1 {
    background-size: 100% auto;
  }
  .tournament .btn-more-rank {
    padding-top: 1%;
  }
  .tournament .header-top {
    padding: 20vw 0 7vw 0;
  }
  .tournament .header-up-coming {
    padding: 2vw 0;
  }
  .tournament .header-img {
    width: 60%;
  }
  .tournament .header-coming-logo {
    display: contents !important;
  }
  .tournament .header-coming-logo img {
    width: 30%;
  }
  .tournament .slick-prev,
  .tournament .slick-next {
    min-height: 24vw;
  }
  .tournament .slick-prev {
    left: -4%;
  }
  .tournament .slick-next {
    right: -4%;
  }
  .tournament .on-going {
    padding-bottom: 2vw;
  }
  .tournament .on-going__card .rank-content .rank-cup-item--1st .point {
    font-size: 4vw !important;
  }
  .tournament .on-going__card .rank-content .rank-cup-item--2nd img, .tournament .on-going__card .rank-content .rank-cup-item--3rd img {
    width: 75%;
  }
  .tournament .on-going__card .rank-content .rank-cup-item .name,
  .tournament .on-going__card .rank-content .rank-cup-item .point {
    font-size: 3.2vw;
  }
  .tournament .on-going__card .rank-content .rank-tour-item .name {
    padding: 1vw 2vw;
  }
  .tournament .on-going__card .rank-content .rank-tour-item .point {
    text-align: center;
  }
  .tournament .on-going__card .rank-content .rank-game-img .title {
    min-height: 8vw;
  }
  .tournament .on-going__card .rank-prize-list {
    padding: 0 1vw;
    width: 100%;
  }
  .tournament .on-going__card .rank-prize-item .number .thumbnail-numerical {
    width: 45%;
  }
  .tournament .on-going__card .rank-prize-item .number-text {
    font-size: 5vw;
  }
  .tournament .on-going__card .rank-prize-item .money .thumbnail-money {
    width: 15%;
  }
  .tournament .on-going__card .rank-prize-item .money-text {
    font-size: 5vw;
  }
  .tournament .result-item .rank-content .rank-cup-item .name,
  .tournament .result-item .rank-content .rank-cup-item .point {
    font-size: 3.2vw;
  }
  .tournament .result-item .rank-content .rank-cup-item .point img {
    width: 18%;
  }
}
@media (max-width: 480px) {
  .tournament .btn-more-rank {
    margin-top: 4px;
  }
  .tournament .on-going__card .rank-content .rank-tour-item {
    min-height: 6vw;
  }
  .tournament .on-going__card .rank-content .rank-tour-item .name {
    padding: 0.5vw 2vw;
  }
  .tournament .on-going__card .rank-content .rank-tour-item .point {
    text-align: center;
  }
  .tournament .on-going__card .rank-content .rank-game-list {
    grid-column-gap: 5px;
  }
  .tournament .on-going__card .rank-content .rank-game-item .game-year {
    margin-bottom: 0;
  }
  .tournament .result-item .rank-content .rank-tour-item {
    min-height: 6vw;
  }
  .tournament .result-item .rank-content .rank-tour-item .name {
    padding: 0.5vw 2vw;
  }
  .tournament .result-item .rank-content .tag-border {
    margin: -5vw 0 2vw 0px;
  }
}
@media (max-width: 400px) {
  .tournament .on-going__card .rank-content .rank-tour-item {
    min-height: 7vw;
  }
  .tournament .result-item .rank-content .rank-tour-item {
    min-height: 7vw;
  }
}
@media (max-width: 320px) {
  .tournament .slick-prev,
  .tournament .slick-next {
    min-height: 74px;
  }
  .tournament .on-going__card .rank-content .rank-tour-item {
    min-height: 8vw;
  }
  .tournament .result-item .rank-content .rank-tour-item {
    min-height: 8vw;
  }
}

/*# sourceMappingURL=style.css.map */
