@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap");
$pink-color: #f45680;
$orange-color: #f59700;
$gray-text-primary: #707070;
$gray-text: #b3b3b3;
$red-text: #b10606;
$red-text-normal: #ff5555;
$white-color: #ffffff;
$black-color: #292929;
$yellow-color: #edf700;

.tournament {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 16px;

  &-background {
    &--1 {
      background: url(../images/tournament/bg-noicon-tour.jpg) no-repeat;
      padding-bottom: 80px;
    }

    &--2 {
      background-color: #13c4cd;
      padding-bottom: 30px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      line-height: 1.8;
      color: $gray-text-primary;
    }
  }

  label {
    margin: 0;
  }

  span {
    color: inherit;
  }
  .slick-prev:focus,
  .slick-next:focus {
    outline: none;
  }
  figcaption {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    margin: 0;
  }

  hr {
    border: 1px solid $pink-color;
  }

  a:hover,
  a:active {
    text-decoration: none;
  }

  .img-thumbnail {
    border: none !important;
    background: transparent;
    padding: 0;
  }

  .header {
    position: relative;
    text-align: center;
    color: $white-color;
    padding: 80px 0 30px 0;
    user-select: none;
    &-top {
      padding: 180px 0 30px 0;
    }
    &-text {
      position: relative;
      user-select: none;
    }

    &-tit {
      max-width: 490px;
      width: 70%;
      margin: auto;
    }

    &-img {
      position: absolute;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%);
      background: transparent;
    }

    &-title {
      position: relative;
      z-index: 2;
      font-family: "Bebas Neue", cursive;
      font-style: italic;
      font-size: 60px;
      margin-bottom: 0;
      letter-spacing: 2px;
    }

    &-title-second {
      position: relative;
      z-index: 2;
      font-family: "Bebas Neue", cursive;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 0;
    }

    &-coming-logo {
      position: absolute;
      top: 25%;
      right: 15%;
      transform: translate(-50%, -50%);
    }

    &-result-logo {
      position: absolute;
      top: 30%;
      left: 20%;
      transform: translate(-50%, -50%);
    }
  }

  .main-container {
    max-width: 1140px;
    width: 90%;
    margin: auto;
  }
  .layout-container {
    max-width: 1000px;
    width: 90%;
    margin: auto;
  }
  &-btn {
    display: flex;
    justify-content: center;
    margin: 60px auto 50px;
  }

  .btn {
    cursor: pointer;
    border-radius: 32px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #13c4cd;
    border: 1px solid #13c4cd;
    outline: none;
    box-shadow: none;
  }

  .btn-see-more {
    display: block;
    width: 292px;
    background-color: $pink-color;
    line-height: 50px;
  }

  .btn-close {
    display: block;
    width: 80%;
    line-height: 30px;
    padding-bottom: 2%;
    margin: 10px 0;

  }

  .btn-play {
    width: 60%;
    margin: 0.5rem 0;
    line-height: 30px;
    padding-bottom: 2%;
  }

  .btn-more-rank {
    width: 90%;
    margin-top: 10px;
    line-height: 30px;
    padding-bottom: 4%;
  }


  .on-going {
    padding-bottom: 10rem;
    &__list {
      // display: grid;
      // grid-template-columns: repeat(2, 1fr);
      // grid-column-gap: 30px;
    }

    &__card {
      position: relative;
      border: 9px solid $pink-color;
      border-radius: 20px;
      margin-top: 35px;

      .ranking-img {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
      }

      .rank-content {
        padding: 0 15px 10px 15px;

        .rank-cup {
          &-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            min-height: 285px;
          }

          &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;

            &--1st {
              justify-content: start;
              .numerical {
                font-size: 26px;
                color: #bf9214;
              }
              .point {
                font-size: 22px !important;
              }
            }

            &--2nd {
              .numerical {
                font-size: 20px;
                color: #787878;
              }
            }

            &--3rd {
              .numerical {
                font-size: 18px;

                color: #9d684a;
              }
            }

            .name,
            .numerical {
              overflow: hidden;
              font-weight: bold;
              line-height: 1.25;
            }
            .name {
              margin: 4px 0;
            }

            .point {
              overflow: hidden;
              color: $pink-color;
              line-height: 1.25;
              font-size: 18px;
            }
          }
        }

        .border-accordion {
          border: 2px solid $pink-color;
        }

        .rank-tour {
          &-item {
            display: grid;
            grid-template-columns: 10% 55% 35%;
            align-items: center;
            background-color: $pink-color;
            color: $white-color;
            width: 100%;
            min-height: 30px;
            border-radius: 5px;
            padding: 2px 0;
            margin-bottom: 5px;

            .numerical {
              text-align: center;
              font-weight: bold;
              font-size: 18px;
            }

            .name {
              background-color: $white-color;
              color: $black-color;
              padding: 2px 1rem;
            }

            .point {
              text-align: center;
            }
          }
        }

        .rank-game {
          &-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 15px;
            margin-bottom: 10px;
          }

          &-img {
            display: flex;
            flex-direction: column-reverse;
            border: none;

            .title {
              background-color: $pink-color;
              color: $white-color;
              text-align: center;
              min-height: 35px;
              padding-top: 5px;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }

          &-item {
            text-align: center;

            .game-year {
              margin-bottom: 5px;
              font-size: 17px;
            }

            .st-rank {
              position: relative;
              margin-bottom: 3px;
              display: flex;
              justify-content: center;

              img {
                width: 90%;
              }

              .v-point {
                position: absolute;
                top: 50%;
                left: 30%;
                transform: translateY(-50%);
                text-align: start;
                color: $white-color;
                font-size: 18px;
                font-weight: bold;

                .thumbnail-point {
                  display: inline-block;
                  width: 20%;
                }
              }
            }
          }
        }
      }

      &-img {
        padding: 1rem;
      }

      &-title {
        text-align: center;
        font-weight: bold;
        font-size: 21px;
      }

      .rank-prize {
        display: none;
        &-list {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 60%;
          border: 7px solid $pink-color;
          border-radius: 15px;
          background-color: #fff;
          padding: 0 5px;
        }

        &-item {
          display: grid;
          grid-template-columns: 30% 70%;
          align-items: center;
          padding: 5px 0;
          border-bottom: 1px solid brown;
          &:nth-child(10) {
            border: none;
          }

          .number {
            text-align: center;

            .thumbnail-numerical {
              display: inline-block;
              width: 60%;
              overflow: hidden;
            }

            &-text {
              font-family: "Bebas Neue", cursive;
              font-size: 24px;
              letter-spacing: 1px;
              color: $pink-color;
              font-weight: bold;
            }
          }

          .money {
            .thumbnail-money {
              display: inline-block;
              width: 20%;
              overflow: hidden;
            }

            &-text {
              font-size: 24px;
              color: $pink-color;
              font-weight: bold;
              font-family: "Bebas Neue", cursive;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }

  .up-coming {
    .card {
      border: none;
      border-radius: 15px;

      &-img {
        padding: 1rem;
      }

      &-title {
        text-align: center;
      }
    }
  }

  .result {
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }

    &-item {
      border-radius: 15px;

      .rank-content {
        padding: 20px 15px;

        .rank-img {
          padding: 0 10px 10px 10px;
        }

        .rank-date {
          position: relative;
          text-align: center;

          .time {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: max-content;
            font-size: 18px;
          }
        }

        .rank-cup {
          &-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: -15px;
            min-height: 260px;
            text-align: center;
          }

          &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .point img {
              width: 21%;
            }

            &--2nd,
            &--3rd {
              .cup-img {
                width: 75%;
              }
            }

            .name,
            .numerical {
              font-size: 14px;
              margin: 4px 0;
              overflow: hidden;
              font-weight: bold;
            }

            .point {
              font-size: 14px;
              overflow: hidden;
              color: $pink-color;
            }
          }
        }

        .tag-border {
          margin: -15px 0 10px 0;
        }

        .rank-tour {
          &-item {
            display: grid;
            grid-template-columns: 10% 40% 25% 25%;
            align-items: center;
            background-color: $pink-color;
            color: $white-color;
            width: 100%;
            min-height: 30px;
            border-radius: 5px;
            padding: 2px 0;
            margin-bottom: 5px;

            .numerical {
              text-align: center;
              font-weight: bold;
              font-size: 18px;
            }

            .name {
              background-color: $white-color;
              color: $black-color;
              padding: 2px 0.5rem;
              font-size: 15px;
              margin-right: 3px;
            }

            .point {
              display: flex;
              justify-content: start;
              align-items: center;
              font-size: 15px;
              img {
                width: 21%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .tournament {
    .header {
      &-coming-logo {
        right: 0%;
      }
    }
    .on-going__card .rank-content .rank-cup-list {
      min-height: 24vw;
    }
    .on-going__card .rank-content .rank-game-item .game-year{
      font-size: 16.5px;
    }
    .result {
      &-item {
        .rank-content {
          .rank-tour {
            &-item {
              .name {
                font-size: 14px;
              }

              .point {
                font-size: 14px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .tournament {
    font-size: 15px;
    .header {
      &-top {
        padding: 18vw 0 7vw 0;
      }

      &-coming-logo {
        right: 0;
        top: 5%;
      }

      &-title {
        font-size: 50px;
      }

      &-title-second {
        font-size: 21px;
      }
    }
    .btn-more-rank {
      margin-top: 5px;
    }
    .on-going {
      &__card {
        margin-top: 5vw;
        .rank-content {
          .rank-cup-list {
            min-height: 26.5vw;
          }
          .rank-game-img {
            justify-content: center;
          }
          .rank-game-list {
            grid-column-gap: 3px;
          }
          .game-year {
            margin-bottom: 3px;
          }
        }
      }
    }
    .result {
      &-item {
        .rank-content {
          .rank-cup {
            &-list {
              min-height: 22vw;
            }
          }
          .rank-date {
            .time {
              font-size: 1.7vw;
            }
          }
          .rank-tour {
            &-item {
              .numerical {
                text-align: center;
                font-weight: bold;
                font-size: 16px;
              }

              .name {
                background-color: $white-color;
                color: $black-color;
                font-size: 1.1vw;
              }

              .point {
                font-size: 1.2vw;
                text-align: center;
                img {
                  width: 25%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .tournament {
    &-background {
      &--1 {
        background: url(../images/tournament/bg_tournament_sm.jpg) no-repeat;
        background-size: cover;
      }
    }
    font-size: 3.5vw;
    figcaption {
      font-size: 3.5vw;
      line-height: 1.25;
    }

    hr {
      border: 1px solid $pink-color;
      margin: 2vw 0;
    }
    .slick-prev {
      background: url(../images/common/btn-icon-prev.png) no-repeat;
      background-size: 100% auto;
      min-height: 95px;
    }
    .slick-next {
      background: url(../images/common/btn-icon-next.png) no-repeat;
      background-size: 100% auto;
      min-height: 95px;
    }
    .header {
      &-top {
        padding: 15vw 0 7vw 0;
      }
      &-tit {
        max-width: 100%;
        width: 100%;
      }
      &-coming-logo {
        top: 30%;
        right: -15%;
        z-index: 10;
      }
      &-img {
        width: 85%;
      }
      &-title {
        font-size: 12vw;
      }

      &-title-second {
        font-size: 7vw;
      }
      &-result-logo {
        top: 0%;
        left: 15%;
        width: 20%;
      }
    }

    .main-container {
      width: 90%;
    }
    .layout-container {
      width: 90%;
    }
    &-btn {
      margin: 6% auto 0;
    }
    .btn {
      font-size: 3.5vw;
      line-height: calc(2em - 2px);
      border-radius: 1.5em;
    }
    .btn-play {
      width: 60%;
      margin: 0.5vw 0 1vw 0;
      padding-bottom: 2%;
    }
    .btn-more-rank {
      margin-top: 1vw;
      padding-bottom: 3%;
    }
    .btn-see-more {
      font-size: 4vw;
    }
    .on-going {
      padding-bottom: 9vw;
      &__card {
        border: 2vw solid #f45680;
        margin-top: 10vw;
        .ranking-img {
          width: 78%;
        }
        .rank-content {
          padding: 0 1.5vw 1vw 1.5vw;
          .rank-cup {
            &-list {
              min-height: 54vw;
            }
            &-item {
              &--1st {
                justify-content: start;
                .numerical {
                  font-size: 6vw !important;
                  color: #bf9214;
                }
                .point {
                  font-size: 4vw !important;
                }
              }

              &--2nd {
                .numerical {
                  font-size: 3.5vw;
                  color: #787878;
                }
              }

              &--3rd {
                .numerical {
                  font-size: 3.5vw;
                  color: #9d684a;
                }
              }

              .name {
                line-height: 1.25;
                font-size: 3.3vw;
              }
              .numerical {
                line-height: 1.25;
                font-size: 4vw;
              }

              .point {
                font-size: 3.3vw;
                line-height: 1.25;
              }
            }
          }

          .border-accordion {
            border: 2px solid $pink-color;
            margin: 2vw 0;
          }

          .rank-tour {
            &-item {
              min-height: 7vw;
              border-radius: 7px;
              padding: 0.5vw 0;
              margin-bottom: 1vw;

              .numerical {
                font-size: 3.5vw;
              }

              .name {
                padding: 1.5vw 2vw;
              }

              .point {
                text-align: center;
              }
            }
          }

          .rank-game {
            margin-bottom: 1vw;
            &-img {
              .title {
                min-height: 6vw;
                line-height: calc(1.5em - 2px);
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
              }
            }

            &-item {
              .game-year {
                display: inline-block;
                font-size: 3.3vw;
              }

              .st-rank {
                margin-bottom: 0.25vw;
                img {
                  width: 90%;
                }
                .v-point {
                  font-size: 3.5vw;
                }
              }
            }
          }
        }

        &-img {
          padding: 1vw;
        }

        &-title {
          font-size: 3.5vw;
        }

        .rank-prize {
          &-list {
            padding: 0 1vw;
          }

          &-item {
            padding: 1vw 0;

            .number {
              .thumbnail-numerical {
                width: 55%;
              }

              &-text {
                font-size: 4vw;
              }
            }

            .money {
              &-text {
                font-size: 4vw;
              }
            }
          }
        }
      }
    }
    .result {
      &-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2vw 0;
      }

      &-item {
        border-radius: 20px;

        .rank-content {
          padding: 4vw 1.5vw;
          img {
            width: 100%;
          }
          .rank-img {
            padding: 0 3vw;
          }

          .rank-date {
            .time {
              font-size: 4vw;
            }
          }

          .rank-cup {
            &-list {
              margin-top: -5vw;
            }

            &-item {
              .point img {
                width: 20%;
              }
              .name,
              .numerical {
                font-size: 3.4vw;
                overflow: hidden;
                font-weight: bold;
                line-height: 1.25;
              }

              .point {
                font-size: 3.4vw;
                overflow: hidden;
                color: $pink-color;
              }
            }
          }

          .tag-border {
            margin: -5vw 0 2vw 0px;
          }

          .rank-tour {
            &-item {
              min-height: 7vw;
              border-radius: 7px;
              padding: 0.5vw 0;
              margin-bottom: 1vw;
              .numerical {
                font-size: 3.5vw;
              }

              .name {
                padding: 1.5vw 2vw;
                font-size: 3.5vw;
              }

              .point {
                font-size: 3.5vw;
                img {
                  width: 20%;
                  margin-right: 1px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .tournament {
    &-background {
      &--1 {
        background-size: 100% auto;
      }
    }
    .btn-more-rank {
      padding-top: 1%;
    }
    .header {
      &-top {
        padding: 20vw 0 7vw 0;
      }
      &-up-coming {
        padding: 2vw 0;
      }
      &-img {
        width: 60%;
      }
      &-coming-logo {
        display: contents !important;
        img {
          width: 30%;
        }
      }
    }

    .slick-prev,
    .slick-next {
      min-height: 24vw;
    }
    .slick-prev {
      left: -4%;
    }
    .slick-next {
      right: -4%;
    }
    .on-going {
      padding-bottom: 2vw;
      &__card {
        .rank-content {
          .rank-cup {
            &-item {
              &--1st {
                .point {
                  font-size: 4vw !important;
                }
              }
              &--2nd,
              &--3rd {
                img {
                  width: 75%;
                }
              }
              .name,
              .point {
                font-size: 3.2vw;
              }
            }
          }

          .rank-tour {
            &-item {
              .name {
                padding: 1vw 2vw;
              }

              .point {
                text-align: center;
              }
            }
          }
          .rank-game {
            &-img {
              .title {
                min-height: 8vw;
              }
            }
          }
        }
        .rank-prize {
          &-list {
            padding: 0 1vw;
            width: 100%;
          }

          &-item {
            .number {
              .thumbnail-numerical {
                width: 45%;
              }

              &-text {
                font-size: 5vw;
              }
            }

            .money {
              .thumbnail-money {
                width: 15%;
              }
              &-text {
                font-size: 5vw;
              }
            }
          }
        }
      }
    }
    .result {
      &-item {
        .rank-content {
          .rank-cup {
            &-item {
              .name,
              .point {
                font-size: 3.2vw;
              }
              .point img {
                width: 18%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .tournament {
    .btn-more-rank {
      margin-top: 4px;
    }
    .on-going {
      &__card {
        .rank-content {
          .rank-tour {
            &-item {
              min-height: 6vw;
              .name {
                padding: 0.5vw 2vw;
              }

              .point {
                text-align: center;
              }
            }
          }
          .rank-game {
            &-list {
              grid-column-gap: 5px;
            }
            &-item {
              .game-year {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    .result {
      &-item {
        .rank-content {
          .rank-tour {
            &-item {
              min-height: 6vw;
              .name {
                padding: 0.5vw 2vw;
              }
            }
          }
          .tag-border {
            margin: -5vw 0 2vw 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .tournament {
    .on-going {
      &__card {
        .rank-content {
          .rank-tour {
            &-item {
              min-height: 7vw;
            }
          }
        }
      }
    }
    .result {
      &-item {
        .rank-content {
          .rank-tour {
            &-item {
              min-height: 7vw;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .tournament {
    .slick-prev,
    .slick-next {
      min-height: 74px;
    }
    .on-going {
      &__card {
        .rank-content {
          .rank-tour {
            &-item {
              min-height: 8vw;
            }
          }
        }
      }
    }
    .result {
      &-item {
        .rank-content {
          .rank-tour {
            &-item {
              min-height: 8vw;
            }
          }
        }
      }
    }
  }
}
