@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap");
$pink-color: #e82a75;
$orange-color: #f59154;
$gray-text-primary: #707070;
$gray-text: #b3b3b3;
$red-text: #b10606;
$red-text-normal: #ff5555;
$white-color: #ffffff;

.terms {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: url(../images/common/bg_kyc.png) no-repeat center 140px,
    url(../images/common/bg1.png) repeat-y center top;
  background-size: 1474px auto, auto;
  padding-bottom: 20rem;
  font-size: 16px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      line-height: 1.8;
      margin-bottom: 1.5rem;
      color: $gray-text-primary;
    }
  }
  label {
    margin: 0;
  }

  .img-thumbnail {
    border: none !important;
  }
  &__header {
    text-align: center;
    color: $white-color;
    padding: 180px 0 78px 0;
    &-title {
      font-family: "Raleway", sans-serif;
      font-style: italic;
      font-size: 60px;
      font-weight: 600;
      margin-bottom: 0;
    }
    &-title-second {
      font-family: "Raleway", sans-serif;
      font-size: 23px;
      font-weight: 500;
      margin-bottom: 0;
    }
  }

  &-container {
    max-width: 980px;
    width: 90%;
    margin: auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 1rem;
  }
  &-service {
    padding-bottom: 3rem;
    &:last-child {
      padding-bottom: 0;
    }
    &__subject {
      margin-bottom: 1.5rem;
      font-weight: bold;
      font-size: 24px;
    }
    &__content {
      &--note {
        &-number {
          list-style: decimal !important;
          padding-left: 3rem !important;
          li {
            margin-bottom: 0.25rem !important;
          }
        }
        &-dash {
          list-style-type: "- " !important;
          padding-left: 3rem !important;
          li {
            text-indent: 5px;
            margin-bottom: 0.25rem !important;
          }
        }
        &-circle {
          list-style: disc !important;
          padding-left: 3rem !important;
          li {
            margin-bottom: 0.25rem !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .terms {
    background-size: 140% auto, 1280px auto;
    &__header {
      padding: 18vw 0 7vw 0;
      &-title {
        font-size: 50px;
      }
      &-title-second {
        font-size: 21px;
      }
    }
    &-service {
      padding-bottom: 3vw;
      &__subject {
        margin-bottom: 2vw;
        font-weight: bold;
        font-size: 2.4vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .terms {
    background: url(../images/common/bg_kyc_s.png) no-repeat center 50px,
      url(../images/common/bg1.png) repeat-y center top;
    background-size: 100% auto;

    ul {
      li {
        font-size: 3.5vw;
        line-height: 1.5;
      }
    }
    &__header {
      padding: 15vw 0 7vw 0;
      &-title {
        font-size: 11vw;
      }
      &-title-second {
        font-size: 4vw;
      }
    }
    &-container {
      max-width: 90%;
      padding: 10% 5%;
    }
    &-service {
      padding-bottom: 3vw;
      &__subject {
        font-weight: bold;
        font-size: 4vw;
      }
      &__content {
        &--note {
          &-number {
            list-style: decimal !important;
            padding-left: 6vw !important;
            li {
              margin-bottom: 0.5vw !important;
            }
          }
          &-dash {
            list-style-type: "- " !important;
            padding-left: 6vw !important;
            li {
              text-indent: 0vw;
              margin-bottom: 0.5vw !important;
            }
          }
          &-circle {
            list-style: disc !important;
            padding-left: 6vw !important;
            li {
              margin-bottom: 0.5vw !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .terms {
    &__header {
      padding: 20vw 0 8vw 0;
    }
  }
}

@media screen and (max-width: 320px) {
  .terms {
    &__header {
      padding: 25vw 0 8vw 0;
    }
  }
}
