@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap");
.terms {
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: url(../images/common/bg_kyc.png) no-repeat center 140px, url(../images/common/bg1.png) repeat-y center top;
  background-size: 1474px auto, auto;
  padding-bottom: 20rem;
  font-size: 16px;
}
.terms ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.terms ul li {
  line-height: 1.8;
  margin-bottom: 1.5rem;
  color: #707070;
}
.terms label {
  margin: 0;
}
.terms .img-thumbnail {
  border: none !important;
}
.terms__header {
  text-align: center;
  color: #ffffff;
  padding: 180px 0 78px 0;
}
.terms__header-title {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0;
}
.terms__header-title-second {
  font-family: "Raleway", sans-serif;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 0;
}
.terms-container {
  max-width: 980px;
  width: 90%;
  margin: auto;
  padding: 60px;
  background-color: #fff;
  border-radius: 1rem;
}
.terms-service {
  padding-bottom: 3rem;
}
.terms-service:last-child {
  padding-bottom: 0;
}
.terms-service__subject {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-size: 24px;
}
.terms-service__content--note-number {
  list-style: decimal !important;
  padding-left: 3rem !important;
}
.terms-service__content--note-number li {
  margin-bottom: 0.25rem !important;
}
.terms-service__content--note-dash {
  list-style-type: "- " !important;
  padding-left: 3rem !important;
}
.terms-service__content--note-dash li {
  text-indent: 5px;
  margin-bottom: 0.25rem !important;
}
.terms-service__content--note-circle {
  list-style: disc !important;
  padding-left: 3rem !important;
}
.terms-service__content--note-circle li {
  margin-bottom: 0.25rem !important;
}

@media screen and (max-width: 1024px) {
  .terms {
    background-size: 140% auto, 1280px auto;
  }
  .terms__header {
    padding: 18vw 0 7vw 0;
  }
  .terms__header-title {
    font-size: 50px;
  }
  .terms__header-title-second {
    font-size: 21px;
  }
  .terms-service {
    padding-bottom: 3vw;
  }
  .terms-service__subject {
    margin-bottom: 2vw;
    font-weight: bold;
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 768px) {
  .terms {
    background: url(../images/common/bg_kyc_s.png) no-repeat center 50px, url(../images/common/bg1.png) repeat-y center top;
    background-size: 100% auto;
  }
  .terms ul li {
    font-size: 3.5vw;
    line-height: 1.5;
  }
  .terms__header {
    padding: 15vw 0 7vw 0;
  }
  .terms__header-title {
    font-size: 11vw;
  }
  .terms__header-title-second {
    font-size: 4vw;
  }
  .terms-container {
    max-width: 90%;
    padding: 10% 5%;
  }
  .terms-service {
    padding-bottom: 3vw;
  }
  .terms-service__subject {
    font-weight: bold;
    font-size: 4vw;
  }
  .terms-service__content--note-number {
    list-style: decimal !important;
    padding-left: 6vw !important;
  }
  .terms-service__content--note-number li {
    margin-bottom: 0.5vw !important;
  }
  .terms-service__content--note-dash {
    list-style-type: "- " !important;
    padding-left: 6vw !important;
  }
  .terms-service__content--note-dash li {
    text-indent: 0vw;
    margin-bottom: 0.5vw !important;
  }
  .terms-service__content--note-circle {
    list-style: disc !important;
    padding-left: 6vw !important;
  }
  .terms-service__content--note-circle li {
    margin-bottom: 0.5vw !important;
  }
}
@media screen and (max-width: 480px) {
  .terms__header {
    padding: 20vw 0 8vw 0;
  }
}
@media screen and (max-width: 320px) {
  .terms__header {
    padding: 25vw 0 8vw 0;
  }
}

/*# sourceMappingURL=style.css.map */
